/* UserProfile.css */
.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #d5c5f1;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  color: #4c3b6d;
  margin-bottom: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #4c3b6d;
  object-fit: cover; /* Ensures the image fills the circle properly */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.05);
}


.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons button {
  background-color: #4c3b6d;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #3a2b5e;
}
